mixin nozzles-info(title)
    .nozzles-info
        h2.nozzle-heading__title.section-title.section-title--increased=title
        +video-block('https://www.youtube.com/embed/m9s96HFvHsA')
        .nozzle-heading__description
            p.nozzle-heading__text Насадка разработана таким образом, что из ягод, томатов, трав можно получить максимальное количество витаминов. Купить Kenwood KAX 644 ME — наслаждаться фрешами. Вы сможете баловать себя и своих домашних калиновым, клубничным, ежевично-малиновым морсом. Насадка-пресс для ягод — это уникальное приспособление, которое не будет пылиться на полке. Теперь ваша кухонная машина станет союзницей в тонком деле заготовки соков на зиму
            .nozzle-heading__actions
                a.nozzle-heading__link.button(href="#") Рецепты с этой насадкой
                a.nozzle-heading__link.button.button--violet(href="#") Получить в подарок