mixin nozzles-info(title, text, video)
    .nozzles-info
        h2.nozzle-heading__title.section-title.section-title--increased=title
        +video-block(video)
        .nozzle-heading__description
            p.nozzle-heading__text=text
            .nozzle-heading__actions
                a.nozzle-heading__link.button(href="#") Рецепты с этой насадкой
                a.nozzle-heading__link.button.button--violet(href="#") Получить в подарок