mixin nozzle-card(url, name, subclass)
    article.nozzle-card(class= subclass)
        .nozzle-card__image-holder
            img.nozzle-card__img(src= url alt="")
        h3.nozzle-card__name= name
