mixin section-slogan-top(subclass)
    .section-slogan(class= subclass)
        p.section-slogan__title <span class="violet-text upper-text">Мощные, универсальные и стильные —</span>
            span.section-slogan__text наши надежные и эффективные кухонные машины <br><span class="upper-text">Kenwood станут вашим незаменимым партнером на кухне</span>

mixin section-slogan-middle(subclass)
    .section-slogan(class= subclass)
        p.section-slogan__title <span class="violet-text upper-text">Максимум</span> креативности 
            span.section-slogan__subtitle благодаря <span class="violet-text">индукционному нагреву</span>

mixin section-slogan-bottom(subclass)
    .section-slogan(class= subclass)
        p.section-slogan__title Действительно<br> 
            span.section-slogan__subtitle <span class="violet-text upper-text">УНИВЕРСАЛЬНЫЙ</span> Chef