mixin section-slogan-top(subclass)
    .section-slogan(class= subclass)
        h3.section-slogan__title.violet-text.upper-text Мощные, универсальные и стильные —
        p.section-slogan__text наши надежные и эффективные кухонные машины Kenwood станут вашим незаменимым партнером на кухне