mixin toward-preview(subclass, brand, title, imgsrc, target)

    article.toward-preview(class= subclass)
        img.toward-preview__img(src=imgsrc alt="")
        b.toward-preview__brand !{brand}
        h3.toward-preview__title= title
        button.toward-preview__btn.button.scroll-btn(data-target= target type="button") Подробнее о модели
        