mixin video-block(url, subclass)

    .video-block(class=subclass)
        iframe.video-block__iframe(src= url frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)