mixin actions()
    section.actions
        .actions__wrapper
            h2.actions__title
                | Выберите кухонную машину
            ul.actions__list#choose
                - var n = 0;
                    while n < 3
                        li.actions__item
                            .actions__image-box
                                img.actions__image(src=img + 'machine.png')
                            .actions__content-box
                                .actions__label-list
                                    span.actions__label.actions__label--new
                                        | Новинка
                                    span.actions__label.actions__label--gift
                                        | +1 насадка
                                h3.actions__name
                                    | Комбайн Kenwood
                                p.actions__copyright
                                    | kenwood
                            .actions__price-box
                                p.actions__price
                                    | 84 990 ₽
                                a.actions__cart-link(href="#")
                                    | В корзину
                        - n++

            h2.actions__title
                | Выберите три любые насадки
            ul.actions__list#add
                - var a = 0;
                    while a < 3
                        li.actions__item
                            .actions__image-box
                                img.actions__image(src=img + 'machine.png')
                            .actions__content-box
                                h3.actions__name
                                    | Насадка для приготовления Kenwood
                                p.actions__copyright
                                    | kenwood
                            .actions__price-box
                                p.actions__price
                                    | 4 990 ₽
                                a.actions__cart-link(href="#")
                                    | В корзину
                        - a++



