mixin actions()
    section.actions
        .actions__wrapper
            h2.actions__title
                | Выберите кухонную машину
            .actions__list

            h2.actions__title
                | Выберите три любые насадки
            .actions__list

