mixin breadcrumbs()
    .content-section.breadcrumbs
        .container.breadcrumbs__wrapper
            .breadcrumbs__item
                a.breadcrumbs__link(href="#") Все
            .breadcrumbs__item
                span.breadcrumbs__link.breadcrumbs__link--active Высокоскоростные
