- var categoryItems = ['Кухонные машины', 'Насадки для куханных машин', 'Колекция kMix', 'Насадки для kMix', 'Блендеры',]

mixin category()
    section.category
        .category__wrapper
            h2.category__title
                | Категории
            ul.category__list
                each category in categoryItems
                    li.category__item
                        p.category__text= category
