- var categoryItems = [{text: 'Кухонные <b>машины</b>', icon: 'machine'},{text: 'Насадки для <b>кухонных машин</b>', icon: 'cap'},{text: 'Коллекция <b>kMix</b>', icon: 'kmix-collection'},{text: 'Насадки для <b>kMix</b>', icon: 'kmix-cap'},{text: '<b>Блендеры</b>', icon: 'blenders'}]

mixin category()
    section.category
        .category__wrapper
            h2.category__title
                | Категории
            ul.category__list
                each category, index in categoryItems
                    li.category__item(class='category__item--' + index)
                        .category__image-box
                            img.category__image(src=img + category.icon + '.png')
                        p.category__text!= category.text
