- var conditions = [{text: 'Выбери <a href="#choose"><span class="red-text">к</span>ухонную машину</a>, положи её в корзину', icon: 'choose'}, {text: 'Добавь <br><a href="#add">насадки</a>', icon: 'add'}, {text: 'Стоимость пересчитается <b>автоматически</b>', icon: 'cost'}]

mixin conditions()
    section.conditions.content-section
        .conditions__container.container
            h2.conditions__title
                | Как получить подарок
            ol.conditions__list
                each condition, index in conditions
                    li.conditions__item(class='conditions__item--' + index)
                        img.conditions__image(src=img + condition.icon + '.png')
                        p.conditions__text!=condition.text
