- let listItems = ['<b>Высокоскоростной выход</b> использует весь потенциал мощности для смешивания, нарезания, измельчения и натирания', '<b>Низкоскоростные выходы</b> для насадок, которым требуется сниженная мощность для выдавливания, измельчения или натирания (например, мясорубка или роликовая насадка для нарезания пасты)', '<b>Выход для насадок для чаши,</b> расположенный над чашей, позволяет выполнить все задачи, связанные со взбиванием, смешиванием, замешиванием, приготовлением крема или аккуратным перемешиванием, а также утолить страсть к мороженому и сорбету'];

mixin cooking()
    section.cooking
        .cooking__container.container.container--bordered
            h2.cooking__title
                | Каждая машина Kenwood Chef открывает целый мир возможностей приготовления пищи
            ul.cooking__list
                each item in listItems
                    li.cooking__item!= item
                li.cooking__item.cooking__item--actions
                    p.cooking__text
                        | Вы можете купить машину Kenwood Chef, которая вам подходит, а затем персонализировать ее под себя с помощью более чем 25 доступных насадок.
                    a.cooking__link(href="#")
                        | Посмотреть все модели
