mixin faq-text()
    ul.faq
        li.faq__item
            h3.faq__title.faq__title--icon Чаша слишком большая, возможно ли купить чашу размером меньше?
            .faq__content.faq__content--icon
                p.faq__answer В меньшей чаше нет необходимости, поскольку кухонные машины Kenwood серий Chef и Major используют планетарный принцип смешивания. Насадки для смешивания движутся в двух плоскостях одновременно — вращаясь вокруг своей оси и перемещаясь вокруг чаши. Насадки для чаши также устанавливаются с тем расчетом, чтобы они касались ее дна и стенок. Это означает, что вы можете смешивать как самые маленькие, так и самые большие объемы продуктов, и вам не нужны чаши других размеров.
        li.faq__item
            h3.faq__title.faq__title--icon Можно ли приобрести запасные части и дополнительные насадки для кухонной машины Chef/Major?
            .faq__content.faq__content--icon
                p.faq__answer В меньшей чаше нет необходимости, поскольку кухонные машины Kenwood серий Chef и Major используют планетарный принцип смешивания. Насадки для смешивания движутся в двух плоскостях одновременно — вращаясь вокруг своей оси и перемещаясь вокруг чаши. Насадки для чаши также устанавливаются с тем расчетом, чтобы они касались ее дна и стенок. Это означает, что вы можете смешивать как самые маленькие, так и самые большие объемы продуктов, и вам не нужны чаши других размеров.
        li.faq__item
            h3.faq__title.faq__title--icon Надо ли снимать защиту от брызг при смене насадок для чаши?
            .faq__content.faq__content--icon
                p.faq__answer В меньшей чаше нет необходимости, поскольку кухонные машины Kenwood серий Chef и Major используют планетарный принцип смешивания. Насадки для смешивания движутся в двух плоскостях одновременно — вращаясь вокруг своей оси и перемещаясь вокруг чаши. Насадки для чаши также устанавливаются с тем расчетом, чтобы они касались ее дна и стенок. Это означает, что вы можете смешивать как самые маленькие, так и самые большие объемы продуктов, и вам не нужны чаши других размеров.
        li.faq__item
            h3.faq__title.faq__title--icon Из мотора вытекает масло. Это неисправность?
            .faq__content.faq__content--icon
                p.faq__answer В меньшей чаше нет необходимости, поскольку кухонные машины Kenwood серий Chef и Major используют планетарный принцип смешивания. Насадки для смешивания движутся в двух плоскостях одновременно — вращаясь вокруг своей оси и перемещаясь вокруг чаши. Насадки для чаши также устанавливаются с тем расчетом, чтобы они касались ее дна и стенок. Это означает, что вы можете смешивать как самые маленькие, так и самые большие объемы продуктов, и вам не нужны чаши других размеров.

mixin faq-docs()
    ul.faq
        li.faq__item
            h3.faq__title Кухонная машина Chef Titanium XL KVL8300S
            .faq__content
                img.faq__icon(src=img + "pdf.svg" alt="")
                p.faq__filename BLLX50 - BLX-54
                p.faq__filesize 418 (KB)
        li.faq__item
            h3.faq__title Кухонная машина Chef Titanium XL KVL8300S
            .faq__content
                img.faq__icon(src=img + "pdf.svg" alt="")
                p.faq__filename BLLX50 - BLX-54
                p.faq__filesize 418 (KB)
        li.faq__item
            h3.faq__title Кухонная машина Chef Titanium XL KVL8300S
            .faq__content
                img.faq__icon(src=img + "pdf.svg" alt="")
                p.faq__filename BLLX50 - BLX-54
                p.faq__filesize 418 (KB)
        li.faq__item
            h3.faq__title Кухонная машина Chef Titanium XL KVL8300S
            .faq__content
                img.faq__icon(src=img + "pdf.svg" alt="")
                p.faq__filename BLLX50 - BLX-54
                p.faq__filesize 418 (KB)
            
