- var featureTable = [{text: 'Смешивание, взбивание', isCombine: true, isMachine: true}, {text: 'Замес тугого теста', isCombine: false, isMachine: true}, {text: 'Изготовление домашней пасты', isCombine: false, isMachine: true}, {text: 'Приготовление супов пюре и смузи', isCombine: false, isMachine: true}, {text: 'Изготовление фарша из жесткого мяса', isCombine: true, isMachine: true}, {text: 'Приготовление мороженого', isCombine: false, isMachine: true}, {text: 'Просеивание и протирание', isCombine: false, isMachine: true}, {text: 'Нарезка', isCombine: true, isMachine: true}]

mixin features()
    section.features
        .features__wrapper
            h2.features__title
                | На что способна кухонная машина
            .feature__table
                .features__row
                    .features__column
                    .features__column
                        p.features__header
                            | Кухонный комбаин
                    .features__column
                        p.features__header
                            | Кухонная машина
                each row in featureTable
                    .features__row
                        .features__column
                            p.features__text=row.text
                        .features__column
                            if row.isCombine
                                .features__checkbox.features__checkbox--green
                            else
                                .features__mark
                        .features__column
                            if row.isMachine
                                .features__checkbox.features__checkbox--red
                            else
                                .features__mark
            .feature__bottom-box


