mixin info()
    section.info
        .info__container
            - var n = 0;
                while n < 3
                    .info__wrapper
                        h2.info__title
                            | Kenwood — <br><b>английская компания</b>
                        .info__image-box
                        p.info__text
                            | Более 70 лет компания Kenwood создает инновационные решения, вызывающие восхищение поваров во всем мире. Мы гордимся нашим умением разрабатывать надежные продукты и аксессуары, которые позволяют вам готовить в вашем собственном, неповторимом стиле. Как и вы, мы любим еду. Возможность создавать, готовить, получать удовольствие и делиться – вот главный движущий фактор нашей деятельности и одновременно основная причина, благодаря которой мы уже семь десятилетий работаем в самом «сердце» множества домов.
                    - n++
