mixin promo()
    section.promo
        .promo__wrapper
            p.promo__text
                | Купи кухонную машину Kenwood из акционного списка и получи
            h2.promo__subtitle
                | 3 насадки в подарок
        .promo__middle-box
        .promo__wrapper
            p.promo__text
                | С их помощью можно резать, измельчать, смешивать и взбивать продукты для создания запеканок, рагу, супов, соусов, десертов и любых других блюд.
        .promo__bottom-box
            .promo__wrapper

