mixin promo()
    section.promo.content-section
        .promo__container.container
            .promo__content
                h2.promo__title
                    | Купи кухонную машину&nbsp;
                    span.red-text
                        | K
                    | ENWOOD
                h3.promo__subtitle
                    | из акционного списка и получи
                .promo__actions
                    p.promo__promo-text
                        | 3 насадки в подарок
                    a.promo__link(href="#")
                        | Получить
