mixin promo()
    section.promo
        .promo__wrapper
            h2.promo__title
                | Купи кухонную машину <b>Kenwood</b> из акционного списка и получи
            h3.promo__subtitle
                | 3 насадки в подарок
        .promo__middle-box
        .promo__wrapper
            p.promo__text
                | С их помощью можно <b>резать, измельчать, смешивать и взбивать продукты</b> для создания запеканок, рагу, супов, соусов, десертов и любых других блюд.
        .promo__bottom-box
