include components/abstract/mixins

doctype html
html(lang='ru')
    +head()

    body
        .page-layout

            main.page-content
                .container

        script(src=js + "main.js")
