include components/abstract/mixins

doctype html
html(lang='ru')
    +head()

    body
        .page-layout
            main
                +top
                +category
                +promo
                +features
                +conditions
                +info

        script(src=js + "main.js")
