include components/abstract/mixins

doctype html
html(lang='ru')
    +head()

    body
        .page-layout
            +header

            main
                section.content-section
                    .container
                        h2.section-title.section-title--increased.section-title--bordered Инструкции по использованию
                        +links-list(['Кухонные машины', 'Насадки для кухонных машин'])
                        +faq-docs

            +footer

        script(src=js + "main.js")