include components/abstract/mixins

doctype html
html(lang='ru')
    +head()

    body
        .page-layout
            +header

            main
                +top
                +machinery-about
                +towards-line
                section.brand.content-section
                    .container
                        h2.section-title <span class="upper-text"><span class="mark-letter">k</span>enwood cooking chef</span>
                        +section-slogan-middle('section-slogan--indents section-slogan--limited')
                        +video-block
                    +toward-view(
                        img + 'toward-view-1.jpg',
                        'Кухонная машина <span class="mark-letter">K</span>enwood KCC 9040S Cooking Chef',
                        [
                            {
                                name: 'Индукционная готовка',
                                text: 'Cooking Chef использует технологию индукционного нагрева, которая отличается чрезвычайной безопасностью и энергоэффективностью. Максимальная температура нагрева составляет 180 °C, что обеспечивает дополнительную гибкость использования. Низкие температуры могут использоваться для расплавления шоколада и расстойки теста. Вы можете готовить жаркое и соусы при умеренной температуре, и использоваться более высокую температуру для приготовления жареного мяса, рыбы и овощей.' 
                            },
                            {
                                name: 'Индукционная готовка',
                                text: 'Cooking Chef использует технологию индукционного нагрева, которая отличается чрезвычайной безопасностью и энергоэффективностью. Максимальная температура нагрева составляет 180 °C, что обеспечивает дополнительную гибкость использования. Низкие температуры могут использоваться для расплавления шоколада и расстойки теста. Вы можете готовить жаркое и соусы при умеренной температуре, и использоваться более высокую температуру для приготовления жареного мяса, рыбы и овощей.' 
                            },
                            {
                                name: 'Индукционная готовка',
                                text: 'Cooking Chef использует технологию индукционного нагрева, которая отличается чрезвычайной безопасностью и энергоэффективностью. Максимальная температура нагрева составляет 180 °C, что обеспечивает дополнительную гибкость использования. Низкие температуры могут использоваться для расплавления шоколада и расстойки теста. Вы можете готовить жаркое и соусы при умеренной температуре, и использоваться более высокую температуру для приготовления жареного мяса, рыбы и овощей.' 
                            }
                        ]
                    )

            +footer

        script(src=js + "main.js")