include components/abstract/mixins

doctype html
html(lang='ru')
    +head()

    body
        .page-layout
            +header

            main
                +top
                +machinery-about
                +towards-line
                section.content-section
                    .container
                        h2.section-title <span class="upper-text"><span class="mark-letter">k</span>enwood cooking chef</span>
                        +section-slogan-middle('section-slogan--indents section-slogan--limited')
                        +video-block
                    +toward-view(
                        img + 'toward-view-1.jpg',
                        'Кухонная машина <span class="mark-letter">K</span>enwood KCC 9040S Cooking Chef',
                        [
                            {
                                name: 'Индукционная готовка',
                                text: 'Cooking Chef использует технологию индукционного нагрева, которая отличается чрезвычайной безопасностью и энергоэффективностью. Максимальная температура нагрева составляет 180 °C, что обеспечивает дополнительную гибкость использования. Низкие температуры могут использоваться для расплавления шоколада и расстойки теста. Вы можете готовить жаркое и соусы при умеренной температуре, и использоваться более высокую температуру для приготовления жареного мяса, рыбы и овощей.' 
                            },
                            {
                                name: 'Индукционная готовка',
                                text: 'Cooking Chef использует технологию индукционного нагрева, которая отличается чрезвычайной безопасностью и энергоэффективностью. Максимальная температура нагрева составляет 180 °C, что обеспечивает дополнительную гибкость использования. Низкие температуры могут использоваться для расплавления шоколада и расстойки теста. Вы можете готовить жаркое и соусы при умеренной температуре, и использоваться более высокую температуру для приготовления жареного мяса, рыбы и овощей.' 
                            },
                            {
                                name: 'Индукционная готовка',
                                text: 'Cooking Chef использует технологию индукционного нагрева, которая отличается чрезвычайной безопасностью и энергоэффективностью. Максимальная температура нагрева составляет 180 °C, что обеспечивает дополнительную гибкость использования. Низкие температуры могут использоваться для расплавления шоколада и расстойки теста. Вы можете готовить жаркое и соусы при умеренной температуре, и использоваться более высокую температуру для приготовления жареного мяса, рыбы и овощей.' 
                            }
                        ]
                    )
                    .content-section
                        .container.container--bordered
                            +presentation(
                                'Предустановленные программы',
                                'Технологи Cooking Chef продумали программы для приготовления любимых многими, но технологически сложных блюд. 24 программы для сладких и несладких рецептов помогут легко приготовить блюдо, на которое без кухонной машины ушла бы масса сил и времени. Даже у неопытной хозяйки идеальный результат получится с первого раза.',
                                img + 'presentation-1.jpg'
                            )
                            +presentation(
                                'Вместимость чаши 6,7 литров',
                                'Полезный объем 3 литра, до 10 порций',
                                img + 'presentation-2.jpg'
                            )
                            +presentation(
                                '5 насадок в комплекте',
                                'К-образная насадка, венчик, крюк для теста, насадка для мягких смесей, крюк для подмешивания во время нагрева.',
                                img + 'presentation-3.jpg'
                            )
                            +presentation(
                                'Интуитивное управление',
                                'Большой ЖК-дисплей позволяет вручную устанавливать температуру, скорость размешивания и время. Cooking Chef прост в использовании и обеспечивает полный контроль над процессом приготовления.',
                                img + 'presentation-4.jpg'
                            )
            +footer

        script(src=js + "main.js")