include components/abstract/mixins

doctype html
html(lang='ru')
    +head()

    body
        .page-layout
            +header

            main
                +top
                section.content-section
                    .container
                        h2.section-title.section-title--increased.section-title--bordered Что вы хотели бы приготовить?
                        +links-list(['Закуски', 'Салаты', 'Супы', 'Горячее', 'Десерты'])
                +recipes-preview
                +promo
                +conditions
                +actions

            +footer

        script(src=js + "main.js")