- var path = "../"
- var css = path + "assets/css/"
- var img = path + "assets/img/"
- var catalog = img + "catalog/"
- var icons = img + "icons/"
- var jsLibs = path + "assets/libs/"
- var js = path + "assets/js/"

include head
