- var path = "../"
- var css = path + "assets/css/"
- var img = path + "assets/img/"
- var catalog = img + "catalog/"
- var icons = img + "icons/"
- var jsLibs = path + "assets/libs/"
- var js = path + "assets/js/"

include head

include ../sections/top
include ../sections/header

include ../blocks/category
include ../blocks/promo
include ../blocks/actions
include ../blocks/conditions
include ../blocks/features
include ../blocks/info
