- var path = "../"
- var css = path + "assets/css/"
- var img = path + "assets/img/"
- var catalog = img + "catalog/"
- var icons = img + "icons/"
- var jsLibs = path + "assets/libs/"
- var js = path + "assets/js/"

include head

include ../reused/section-slogan

include ../sections/top
include ../sections/header
include ../sections/footer
include ../sections/machinery-about

include ../blocks/category
include ../blocks/promo
include ../blocks/actions
include ../blocks/conditions
include ../blocks/features
include ../blocks/info
