- var path = "../"
- var css = path + "assets/css/"
- var img = path + "assets/img/"
- var catalog = img + "catalog/"
- var icons = img + "icons/"
- var jsLibs = path + "assets/libs/"
- var js = path + "assets/js/"

include head

include ../reused/section-slogan
include ../reused/toward-preview
include ../reused/video-block
include ../reused/toward-view
include ../reused/presentation
include ../reused/nozzle-card
include ../reused/nozzle-preview
include ../reused/links-list
include ../reused/recipe-card
include ../reused/nozzles-info

include ../sections/top
include ../sections/header
include ../sections/footer
include ../sections/machinery-about
include ../sections/towards-line
include ../sections/nozzle-heading
include ../sections/nozzles-heading
include ../sections/nozzles-list
include ../sections/recipes-preview

include ../blocks/category
include ../blocks/promo
include ../blocks/actions
include ../blocks/conditions
include ../blocks/features
include ../blocks/info
include ../blocks/description
include ../blocks/breadcrumbs
include ../blocks/cooking
include ../blocks/faq
include ../blocks/top-recipes