* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 530px;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  letter-spacing: 0.56px;
  font-size: $f-text;
  color: $c-primary-text;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-overflow {
  overflow: hidden;
}

.content-section {
  margin-top: 60px;
  margin-bottom: 60px;

  @media (min-width: 768px) {
      margin-top: 80px;
      margin-bottom: 80px;
  }
}

.section-title {
  font-size: 30px;
  line-height: 1.1;

  &--increased {
    font-size: 32px;
  }

  &--bordered {
    position: relative;
  }

  //&::after {
  //  content: "";
  //  position: absolute;
  //  bottom: -20px;
  //  left: 0;
  //  width: 100%;
  //  height: 1px;
  //  background-color: $divider;
  //}
}

.upper-text {
  text-transform: uppercase;
}

.mark-letter {
  color: $mark-letter;
}

.violet-text {
  color: $mark-secondary; 
}

.red-text {
  color: $mark-primary;
}
