.button {
  display: block;
  min-height: 45px;
  padding: 13px 20px 12px;
  border: 1px solid $mark-primary;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: .5px;
  color: #fff;
  border-radius: 68px;
  background-color: $mark-primary;
  transition: color 0.2s ease, background 0.2s ease;

  &:hover, &:focus {
    color: $mark-primary;
    background-color: $white;
  }
}
