@font-face {
  font-family: "Merriweather";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/merriweather-light-webfont.woff2") format("woff2"), url("../fonts/merriweather-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/merriweather-lightitalic-webfont.woff2") format("woff2"), url("../fonts/merriweather-lightitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/merriweather-regular-webfont.woff2") format("woff2"), url("../fonts/merriweather-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/merriweather-italic-webfont.woff2") format("woff2"), url("../fonts/merriweather-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../fonts/merriweather-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/merriweather-bolditalic-webfont.woff2") format("woff2"), url("../fonts/merriweather-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/merriweather-black-webfont.woff2") format("woff2"), url("../fonts/merriweather-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/merriweather-blackitalic-webfont.woff2") format("woff2"), url("../fonts/merriweather-blackitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-extralight-webfont.woff2") format("woff2"), url("../fonts/montserrat-extralight-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/montserrat-extralightitalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-extralightitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/montserrat-lightitalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-lightitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff2") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/montserrat-italic-webfont.woff2") format("woff2"), url("../fonts/montserrat-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/montserrat-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-mediumitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/montserrat-bolditalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"), url("../fonts/montserrat-extrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/montserrat-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-extrabolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-black-webfont.woff2") format("woff2"), url("../fonts/montserrat-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/montserrat-blackitalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-blackitalic-webfont.woff") format("woff");
}
