- var footerLinks = ['Гарантия и сервис', 'Способы оплаты', 'Условия доставки', 'Контакты и реквизиты', 'Обмен и возврат', 'Политика конфеденциальности'];

mixin footer()
    footer.footer
        .footer__container
            .footer__links
                h3.footer__header
                    | Покупателям
                ul.footer__navigation
                    each link in footerLinks
                        li.footer__navigation-item
                            a.footer__navigation-link(href="#")= link

            .footer__contacts
                h3.footer__header
                    | Контакты
                .footer__wrapper
                    .footer__phone-box
                        p.footer__phone-text
                            | Бесплатный звонок
                        a.footer__phone(href="tel:88006002798")
                            | 8 800 600-27-98

                    a.footer__email(href='mailto:info@kenwoodshop.ru')
                        | info@kenwoodshop.ru

                    a.footer__callback(href="#")
                        | Обратный звонок
