mixin header()
    header.header
        .header__wrapper
            .header__title-box
                h1.header__title
                    | Только с KENWOOD
                h2.header__subtitle
                    | Твои кулинарные шедевры
                .header__signature-box
                    img.header__signature
            .header__discription-box
                p.header__text
                    | Любые 3 насадки в подарок
                p.header__text
                    | Получи выгоду до 30 000 р!
                a.header__link
                    | Получить
