mixin machinery-about()

    section.content-section.machinery-about
        .machinery-about__container.container.container--bordered
            h2.section-title.section-title--bordered.section-title--increased Кухонные машины <span class="upper-text"><span class="red-text">k</span>enwood</span>
            +section-slogan-top("machinery-about__slogan")
            .machinery-about__image
                img(src=img + 'machinery-about-top.jpg' alt="")
            .machinery-about__columns
                .machinery-about__column
                    img.machinery-about__img(src=img + 'machinery-about-1.jpg' alt="" width="128" height="128")
                    .machinery-about__info
                        h4.machinery-about__subtitle Планетарная траектория для полноценного перемешивания
                        p.machinery-about__text 
                            | Насадка для чаши перемещается по планетарной траектории (вращается
                            | dокруг своей оси и одновременно
                            | по внутренней поверхности чаши),
                            | что позволяет гарантировать сбор
                            | всей смеси со стенок чаши.
                .machinery-about__column
                    img.machinery-about__img(src=img + 'machinery-about-2.jpg' alt="" width="128" height="122")
                    .machinery-about__info
                        h4.machinery-about__subtitle Планетарная траектория для полноценного перемешивания
                        p.machinery-about__text 
                            | Насадка для чаши перемещается по планетарной траектории (вращается
                            | dокруг своей оси и одновременно
                            | по внутренней поверхности чаши),
                            | что позволяет гарантировать сбор
                            | всей смеси со стенок чаши.
            button.machinery-about__btn.button Посмотреть все модели