mixin nozzles-list()

    .content-section.nozzles-list
        .container
            +links-list(['Все', 'Высокоскоростные', 'Низкоскоростные', 'Для пасты'], 'links-list--bordered')
            .nozzles-list__container
                ul.nozzles-list__items
                    li.nozzles-list__item
                        +nozzle-card(img + "nozzle-heading-1.jpg", "Насадка Kenwood AT971A", 'nozzles-list__card')
                    li.nozzles-list__item    
                        +nozzle-card(img + "nozzle-heading-2.jpg", "Насадка термостойкий стеклянный блендер Kenwood KAH359GL", 'nozzles-list__card')
                    li.nozzles-list__item    
                        +nozzle-card(img + "nozzle-heading-5.jpg", "Насадка мясорубка Kenwood AT971A", 'nozzles-list__card')
                    li.nozzles-list__item    
                        +nozzle-card(img + "nozzle-heading-6.jpg", "Насадка спиралайзер Kenwood KAX700PL", 'nozzles-list__card')
                .nozzles-list__info
                    +nozzles-info("Насадка Kenwood AT971A", "Семь режущих пластин из нержавеющей стали позволяют нарезать большие количества фруктов и овощей различной формы и размеров. Мощная насадка-овощерезка рассчитана на непрерывную работу.", 'https://www.youtube.com/embed/ztSaV3aloO4')
                    +nozzles-info("Насадка термостойкий стеклянный блендер Kenwood KAH359GL", "Кувшин выполнен из прочного стекла, ему «по плечу» и холодные, и горячие блюда. За качественные результаты отвечают стальные ножи MultiZone, которые эффективно перерабатывают и мягкие, и твёрдые ингредиенты, и специальный стержень, предназначенный для максимально равномерного перемешивания даже густых и вязких смесей.", 'https://www.youtube.com/embed/qwKlQjUM0uw')
                    +nozzles-info("Насадка мясорубка Kenwood AT971A", "Мясорубка поставляется с тремя вставками для точного измельчения: мелкой (3 мм), средней (4,5 мм) и грубой (8 мм), также в комплект входят насадки для изготовления колбасы и кеббе.", "https://www.youtube.com/embed/_0h-TbMSxD0")
                    +nozzles-info("Насадка спиралайзер Kenwood KAX700PL", "Лезвие особой формы нарезает картофель, морковь, цуккини или свеклу спиралями различной ширины и толщины. Тонкие полуфабрикаты можно использовать в оригинальных салатах, жарить во фритюре или бланшировать на гарнир вместо спагетти. Если диаметр продукта невелик, то насадка нашинкует его полумесяцами, например, так можно обрабатывать фрукты для десертов или пирогов.", "https://www.youtube.com/embed/04_PaEoZfps")
            .nozzles-list__container
                ul.nozzles-list__items        
                    li.nozzles-list__item    
                        +nozzle-card(img + "nozzle-heading-7.jpg", "Насадка тёрка-ломтерезка Kenwood KAX643", 'nozzles-list__card')
                    li.nozzles-list__item    
                        +nozzle-card(img + "nozzle-heading-3.jpg", "Насадка-пресс для ягод для кухонного комбайна Kenwood Sense/kMix KAX644", 'nozzles-list__card')
                    li.nozzles-list__item    
                        +nozzle-card(img + "nozzle-heading-8.jpg", "Насадка-измельчитель Kenwood для кухонного комбайна AT320A (AWAT320B01)", 'nozzles-list__card')
                    li.nozzles-list__item    
                        +nozzle-card(img + "nozzle-heading-4.jpg", "Насадка для приготовления феттуччине Kenwood KAX981.ME", 'nozzles-list__card')
                .nozzles-list__info
                    +nozzles-info("Насадка тёрка-ломтерезка Kenwood KAX643", "Насадка тёрка-ломтерезка Kenwood KAX643 – производительная тёрка-ломтерезка, с помощью которой можно быстро и с минимумом усилий измельчить или нарезать фрукты, овощи, твёрдый сыр, шоколад и другие продукты. Она даёт возможность подготовить необходимые ингредиенты для салатов, закусок, десертов и основных блюд.", "https://www.youtube.com/embed/DyOABgmXfdE")
                    +nozzles-info("Насадка-пресс для ягод для кухонного комбайна Kenwood Sense/kMix KAX644", "Изделие поможет приготовить вкуснейшие морсы и витаминные соки для детей из клюквы, брусники, калины, малины, смородины и клубники. Насадка незаменима для тех, кто заготавливает на зиму варенье, джемы, конфитюры и плодовое пюре. Пресс используется еще для измельчения томатов, кабачков, баклажанов, а также отварных корнеплодов.", "https://www.youtube.com/embed/7toCLaMP17o")
                    +nozzles-info("Насадка-измельчитель Kenwood для кухонного комбайна AT320A (AWAT320B01)", "Многофункциональный измельчитель Kenwood способен быстро и легко перемолоть специи, кофе, орехи, травы или приготовить соус и маринад. Насадка изготовлена из стекла высокой прочности. Ножи — из нержавеющей стали. Это устройство надежно и может справиться с тяжелыми задачами. Многофункциональный измельчитель подходит для кухонных машин серии Chef и Major. Небольшие размеры измельчителя являются преимуществом, когда необходимо сделать помол небольшого количества ингредиентов, например, горсть орехов для пирога, либо специи. А если Вы готовите детское питание, тогда использование большой и объемной посуды не целесообразно. В этой насадке Вы легко сделаете кашицу для вашего малыша в небольшом количестве. Вы можете купить ее и быстро измельчить сыр пармезан для приготовленной пасты. Благодаря защитному блокированию на основании насадки от случайного включения использование устройства безопасно.", "https://www.youtube.com/embed/Qg-9IwlGDHc")
                    +nozzles-info("Насадка для приготовления феттуччине Kenwood KAX981.ME", "С насадкой для приготовления феттуччине Kenwood KAX981.ME вы можете готовить итальянские блюда как профессионал: просто подготовьте тесто и выберите один из девяти режимов нарезки. А если использовать дополнительные приставки, вы сможете сделать фетучини и спагетти.", "https://www.youtube.com/embed/Qou7JjqSEbE")        
            .nozzles-list__container            
                ul.nozzles-list__items        
                    li.nozzles-list__item    
                        +nozzle-card(img + "nozzle-heading-4.jpg", "Насадка для приготовления тренетте Kenwood KAX983.ME", 'nozzles-list__card')
                    li.nozzles-list__item    
                        +nozzle-card(img + "nozzle-heading-4.jpg", "Насадка для приготовления тальолини Kenwood KAX982.ME", 'nozzles-list__card')
                .nozzles-list__info
                    +nozzles-info("Насадка для приготовления тренетте Kenwood KAX983.ME", "Насадка Kenwood KAX983 для пасты Trenette создана производителем из высококачественной нержавеющей стали, с ее помощью можно готовить пасту Тренетте. Это классическая паста Италии, одна из разновидностей тонкой лапши из разнообразных твердых сортов пшеницы, при ее приготовлении не используются яйца, а используется только вода и мука.", "https://www.youtube.com/embed/Qou7JjqSEbE")
                    +nozzles-info("Насадка для приготовления тальолини Kenwood KAX982.ME", 'Насадка для приготовления тальолини (длинной лапши) шириной 1.5 мм. С насадкой Kenwood KAX 982 ME для пасты Tagliolini вам будет совершенно нетрудно приготовить одно из классических блюд итальянской кухни. Это самая тоненькая паста среди разновидностей тальятелле. С ней идеально сочетаются не очень густые соусы, такие как, карбонара, масляные и томатные соусы, песто или соус на основе рикотты. Также к ней часто подают морепродукты, рыбу и овощи. Разнообразьте свой рацион аппетитной классической пастой вместе с Kenwood!', "https://www.youtube.com/embed/Qou7JjqSEbE")
                