mixin nozzle-heading
    section.content-section.nozzle-heading
        .container
            h2.nozzle-heading__title.section-title.section-title--increased Насадка Kenwood AT971A
            +video-block(img + 'video-stub.mp4')
            .nozzle-heading__description
                p.nozzle-heading__text Насадка разработана таким образом, что из ягод, томатов, трав можно получить максимальное количество витаминов. Купить Kenwood KAX 644 ME — наслаждаться фрешами. Вы сможете баловать себя и своих домашних калиновым, клубничным, ежевично-малиновым морсом. Насадка-пресс для ягод — это уникальное приспособление, которое не будет пылиться на полке. Теперь ваша кухонная машина станет союзницей в тонком деле заготовки соков на зиму
                a.nozzle-heading__link.button(href="#") Рецепты с этой насадкой
            .nozzle-heading__slider
                .nozzle-heading__slide
                    +nozzle-card(img + "nozzle-heading-1.jpg", "Насадка Kenwood AT971A")
                .nozzle-heading__slide
                    +nozzle-card(img + "nozzle-heading-2.jpg", "Насадка Kenwood AT971A")
                .nozzle-heading__slide
                    +nozzle-card(img + "nozzle-heading-3.jpg", "Насадка Kenwood AT971A")
                .nozzle-heading__slide
                    +nozzle-card(img + "nozzle-heading-4.jpg", "Насадка Kenwood AT971A")
                .nozzle-heading__slide
                    +nozzle-card(img + "nozzle-heading-1.jpg", "Насадка Kenwood AT971A")
                .nozzle-heading__slide
                    +nozzle-card(img + "nozzle-heading-2.jpg", "Насадка Kenwood AT971A")    