mixin nozzles-heading()

    section.content-section.nozzles-heading
        .nozzles-heading__wrapper.container.container--bordered
            .nozzles-heading__info
                h2.nozzles-heading__title.section-title Не сдерживайте свою <span class="upper-text red-text nozzles-heading__accent">Креативность</span>
                p.nozzles-heading__text
                    | Откройте для себя новый мир возможностей для создания блюд с помощью нашего
                    | ассортимента насадок для кухонных машин.
                    | Смешивайте, нарезайте, дробите, измельчайте, натирайте, перемалывайте... — выбор за вами.
                p.nozzles-heading__text
                    | Благодаря доступности более 25 насадок вы
                    | сможете персонализировать вашу машину Chef
                    | и превратить
                    | ее в главного помощника на кухне.
            .nozzles-heading__image-holder
                img.nozzles-heading__img(src=img + "nozzles-heading.jpg" alt="")        