mixin top()
    section.top
        .container.top__container
            .top__title-box
                h1.top__title
                    | Только с&nbsp;
                    span.red-text
                        | K
                    | ENWOOD
                h2.top__subtitle
                    | Твои кулинарные
                h2.top__subtitle.red-text
                    | шедевры
                .top__signature-box
                    img.top__signature
            .top__discription-box
                p.top__text
                    | Любые 3 насадки в подарок!
                p.top__text
                    | Получи выгоду до 30 000 ₽!
                a.top__link
                    | Получить
