mixin top()
    section.top
        .container.top__container
            .top__content
                .top__title-box
                    h1.top__title
                        | Только с&nbsp;
                        span.red-text
                            | K
                        | ENWOOD
                    h2.top__subtitle
                        | Твои кулинарные
                    h2.top__subtitle.top__subtitle--red.red-text
                        | шедевры
                    .top__signature-box
                        img.top__signature(src=img + 'signature.png')
                .top__discription-box
                    p.top__text.top__text--top
                        | Любые 3 насадки <span class='red-text'>в подарок!</span>
                    p.top__text.top__text--middle
                        | <span class='red-text'>Получи выгоду до</span> 30 000 ₽!
                    a.top__link(href='#')
                        | Получить
