mixin towards-line()

    section.content-section.towards-line
            .towards-line__container.container.container--bordered
                ul.towards-line__list
                    li.towards-line__item
                        +toward-preview('towards-line__card', '<span class="mark-letter">k</span>enwood cooking chef', 'Кухонная машина Kenwood KCC 9040S Cooking Chef', img + 'toward-line-1.jpg', '#toward1')
                    li.towards-line__item
                        +toward-preview('towards-line__card', '<span class="mark-letter">k</span>enwood chef', 'Кухонная машина Kenwood Titanium KVC7300.S', img + 'toward-line-2.jpg', '#toward2')
                    li.towards-line__item
                        +toward-preview('towards-line__card', '<span class="mark-letter">k</span>enwood chef', 'Кухонная машина Kenwood Chef Sense KVC5100 T', img + 'toward-line-3.jpg', '#toward3')        