//basic
@import "main/vars";
@import "main/base";
@import "main/normalize";
@import "main/fonts";
@import "main/grid";
@import "main/button";
@import "main/range";

//libs
@import "libs/slick";
@import "libs/slick-theme";

//sections
@import "page/section/top";
@import "page/section/header";
@import "page/section/footer";
@import "page/section/machinery-about";
@import "page/section/towards-line";
@import "page/section/nozzle-heading";
@import "page/section/recipes-preview";

//blocks
@import "page/block/category";
@import "page/block/promo";
@import "page/block/conditions";
@import "page/block/info";
@import "page/block/features";
@import "page/block/actions";
@import "page/block/section-slogan";
@import "page/block/toward-preview";
@import "page/block/toward-view";
@import "page/block/presentation";
@import "page/block/description";
@import "page/block/breadcrumbs";
@import "page/block/nozzle-card";
@import "page/block/nozzle-preview";
@import "page/block/video-block";
@import "page/block/links-list";