.nozzles-heading {
    &__wrapper {
        @media (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__title {
        max-width: 425px;
        font-family: inherit;
        line-height: 1.2;
    }

    &__accent {
        font-size: 40px;
    }

    &__actions {
        display: flex;
        flex-direction: column;
    }

    &__text {
        max-width: 630px;
        margin-top: 30px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        line-height: 1.3;

        &:nth-of-type(2) {
            max-width: 545px;
        }
    }

    &__image-holder {
        margin-top: 30px;

        @media (min-width: 1024px) {
            flex-shrink: 0;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;
    }
}