.nozzle-heading {
    &__title {
        margin-bottom: 50px;
    }

    &__description {
        margin-top: 55px;

        @media (min-width: 1024px) {
            display: flex;
            align-items: center;
        }
    }

    &__text {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        line-height: 23px;

        @media (min-width: 1024px) {
            max-width: 840px;
            margin-right: 50px;
        }
    }

    &__link {
        max-width: 254px;
        margin: 30px auto 30px;

        @media (min-width: 1024px) {
            flex-shrink: 0;
            margin-top: 0;
            margin-left: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__slider {
        margin-top: 60px;
        padding-left: 45px;
        padding-right: 45px;
    }

    &__slide {
        padding: 0 25px;
    }

    & .slick-arrow {
        width: 45px;
        height: 90px;
    }

    & .slick-prev {
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='47' height='92' viewBox='0 0 47 92' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46 1L1 46L46 91' stroke='black'/%3E%3C/svg%3E%0A");
    }

    & .slick-next {
        right: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='47' height='92' viewBox='0 0 47 92' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.500001 91L45.5 46L0.500001 1' stroke='black'/%3E%3C/svg%3E%0A");
    }
}