.nozzles-list {
    &__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        justify-content: space-between;
        margin: 45px 0 0;
        padding: 0;
        list-style: none;

        @media (min-width: 560px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1024px) {
            grid-gap: 70px;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__item {
        max-width: 100%;

        @media (min-width: 560px) {
            max-width: 230px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
    }
}