.top {
  padding-top: 20px;
  background-color: #f7f7f7;

  @media (min-width: 1024px) {
    max-width: 1484px;
    margin: 0 auto;
    padding-bottom: 46px;
    border-bottom: 1px solid #e0e3e5;
  }

  @media (min-width: 768px) {
    background-color: transparent;
  }

  &__container {
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url("../img/top-mobile.png");
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      padding-bottom: 0;
      background-size: auto 100%;
      background-image: url("../img/top-desktop.png");
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    color: #0f0f0f;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 400;
    font-style: italic;

    &--red {
      font-style: normal;

      @media (min-width: 768px) {
        font-size: 42px;
        line-height: 53px;
        text-transform: uppercase;
      }
    }

    @media (min-width: 768px) {
      margin-bottom: 5px;
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__text {
    font-size: 28px;
    font-weight: 300;
    font-style: italic;

    &--top {
      margin-bottom: 15px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }

    &--middle {
      font-weight: 600;
    }

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__signature-box {
    margin-bottom: 150px;

    @media (min-width: 768px) {
      margin-bottom: 20px;
      margin-left: 60px;
    }
  }

  &__discription-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;

    @media (min-width: 768px) {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 210px;
    border-radius: 30px;
    min-height: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #D34500;
    text-decoration: none;

    @media (min-width: 768px) {
      min-width: 185px;
      min-height: 45px;
      margin-top: 40px;
      font-size: 14px;
      border-radius: 68px;
    }
  }
}
