.top {
  min-height: 1097px;
  background-color: #f7f7f7;
  background-image: url("../img/top-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;

  @media (min-width: 1024px) {
    padding-bottom: 46px;
    border-bottom: 1px solid #e0e3e5;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    padding: 0;

    @media (max-width: 1024px) {
      align-items: center;
      justify-content: center;
      height: auto;
    }
  }

  &__content {
    padding: 45px 65px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.8) 22.92%, #FFFFFF 99.48%);

    @media (max-width: 1024px) {
      width: 100%;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.8) 25.48%, #FFFFFF 30%, #FFFFFF 85%, rgba(255, 255, 255, 0.03) 100%);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    color: #0f0f0f;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 400;
    font-style: italic;

    &--red {
      font-style: normal;

      @media (min-width: 768px) {
        font-size: 42px;
        line-height: 53px;
        text-transform: uppercase;
      }
    }

    @media (min-width: 768px) {
      margin-bottom: 5px;
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__text {
    font-size: 28px;
    font-style: italic;

    &--top {
      margin-bottom: 15px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__signature-box {
    margin-bottom: 20px;
  }

  &__discription-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 210px;
    border-radius: 30px;
    min-height: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #D34500;
    text-decoration: none;

    @media (min-width: 768px) {
      min-width: 185px;
      min-height: 45px;
      margin-top: 40px;
      font-size: 14px;
      border-radius: 68px;
    }
  }
}
