.towards-line {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;

        }
    }

    &__item {
        margin-top: 30px;

        &:first-of-type {
            margin-top: 0;
        }

        @media (min-width: 768px) {
            max-width: 33%;
            margin-top: 0;
        }

        @media (min-width: 1024px) {
            max-width: 312px;
        }
    }

    &__card {
        height: 100%;
    }
}