.actions {
  &__wrapper {
    padding: 50px 20px;
    border-bottom: 1px solid #e0e3e5;

    @media (min-width: 1024px) {
      max-width: 1200px;
      margin: 0 auto;
      padding: 50px 10px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e1e1e;
  }

  &__list {
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
    list-style: none;

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    border-radius: 5px;
    border: 1px solid #d2d7e0;

    @media (min-width: 1024px) {
      width: calc(33% - 10px);
    }
  }

  &__image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-bottom: 1px solid #d2d7e0;
  }

  &__image {
    max-width: 200px;
  }

  &__content-box {
    padding: 15px 50px;
    border-bottom: 1px solid #d2d7e0;
  }

  &__label-list {
    display: flex;
    margin-bottom: 20px;
  }

  &__label {
    padding: 5px 10px;
    margin-right: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;

    &:last-child {
      margin-right: 0;
    }

    &--new {
      background-color: #43bb78;
    }

    &--gift {
      background-color: #ff1820;
    }
  }

  &__name {
    margin-bottom: 60px;
    font-size: 24px;
  }

  &__copyright {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
  }

  &__price-box {
    display: flex;
    align-items: center;
    padding: 15px 50px;
  }

  &__cart-link {
    padding: 5px 10px;
    margin-left: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    color: #ffffff;
    background-color: #43bb78;
  }

  &__price {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: red;
  }
}
