.category {
  &__wrapper {
    padding: 50px 0;
    border-bottom: 1px solid #e0e3e5;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e1e1e;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    width: calc(50% - 10px);
    min-height: 300px;
    padding: 40px 25px 10px 25px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: -47px;
      width: 94px;
      height: 94px;
      transform: translateY(-50%) rotate(45deg);
    }

    &--0 {
      &::before {
        background-color: #9d629c;
      }
    }

    &--1 {
      &::before {
        background-color: #ffcc33;
      }
    }

    &--2 {
      width: 100%;
      min-height: 220px;

      .category__image-box {
        width: 200px;
        bottom: 50%;
        transform: translate(-50%, 50%);
      }

      &::before {
        background-color: #d11b59;
      }
    }

    &--3 {
      &::before {
        background-color: #b6bd00;
      }
    }

    &--4 {
      &::before {
        background-color: #477707;
      }
    }
  }

  &__text {
    position: relative;
    font-size: 24px;
    font-style: italic;
    z-index: 1;

    b {
      font-style: normal;
    }
  }

  &__image-box {
    position: absolute;
    left: 50%;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
    transform: translateX(-50%);
    z-index: 1;
  }
}
