.category {
  border-bottom: 1px solid #e0e3e5;

  @media (min-width: 1024px) {
    max-width: 1484px;
    margin: 0 auto;
  }

  &__wrapper {
    padding: 50px 0;

    @media (min-width: 1024px) {
      max-width: 1200px;
      margin: 0 auto;
      padding: 50px 10px;
    }
  }

  &__title {
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e1e1e;

    @media (min-width: 1024px) {
      padding: 0;
    }
  }

  &__list {
    display: grid;
    grid-column: 3;
    grid-row: 6;
    grid-template-columns: 33%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    height: 600px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    padding: 40px 25px 10px 25px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    overflow: hidden;

    @media (min-width: 1024px) {
      padding-top: 80px;
      overflow: visible;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: -47px;
      width: 94px;
      height: 94px;
      transform: translateY(-50%) rotate(45deg);
    }

    &--0 {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: 7;

      &::before {
        background-color: #9d629c;
      }
    }

    &--1 {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 5;

      &::before {
        background-color: #ffcc33;
      }
    }

    &--2 {
      grid-column-start: 2;
      grid-row-start: 5;
      grid-row-end: 7;

      &::before {
        background-color: #d11b59;
      }
    }

    &--3 {
      grid-column-start: 3;
      grid-row-start: 1;
      grid-row-end: 4;

      &::before {
        background-color: #b6bd00;
      }
    }

    &--4 {
      grid-column-start: 3;
      grid-row-start: 4;
      grid-row-end: 7;

      &::before {
        background-color: #477707;
      }
    }
  }

  &__text {
    position: relative;
    font-size: 24px;
    font-style: italic;
    z-index: 1;

    b {
      font-style: normal;
    }

    @media (min-width: 1024px) {
      font-size: 30px;
      line-height: 38px;
      width: 50%;
    }
  }

  &__image-box {
    position: absolute;
    left: 50%;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
    transform: translateX(-50%);
    z-index: 1;

    @media (min-width: 1024px) {
      width: auto;
      left: auto;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
  }
}
