.category {
  &__wrapper {
    padding: 50px 0;
    border-bottom: 1px solid #e0e3e5;

    @media (min-width: 1024px) {
      max-width: 1200px;
      margin: 0 auto;
      padding: 50px 10px;
    }
  }

  &__title {
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e1e1e;

    @media (min-width: 1024px) {
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    width: calc(50% - 10px);
    min-height: 300px;
    padding: 40px 25px 10px 25px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: -47px;
      width: 94px;
      height: 94px;
      transform: translateY(-50%) rotate(45deg);
    }

    @media (min-width: 1024px) {
      width: calc(33% - 10px);
    }

    &--0 {
      @media (min-width: 1024px) {
        width: calc(66% - 5px);
        order: 1;

        .category__image-box {
          width: 400px;
          left: 70%;
        }

        .category__text {
          font-size: 30px;
          line-height: 38px;
        }
      }

      &::before {
        background-color: #9d629c;
      }
    }

    &--1 {
      &::before {
        background-color: #ffcc33;
      }

      @media (min-width: 1024px) {
        order: 2;
        background-color: transparent;

        .category__image-box {
          bottom: 30px;
          left: 75%;
        }

        .category__text {
          font-size: 20px;
          line-height: 131.7%;
        }
      }
    }

    &--2 {
      width: 100%;
      min-height: 220px;

      @media (min-width: 1024px) {
        width: calc(33% - 12px);
        order: 4;
      }

      .category__image-box {
        width: 200px;
        bottom: 50%;
        transform: translate(-50%, 50%);

        @media (min-width: 1024px) {
          width: 350px;
        }
      }

      &::before {
        background-color: #d11b59;
      }
    }

    &--3 {
      @media (min-width: 1024px) {
        order: 3;
        background-color: transparent;

        .category__text {
          font-size: 20px;
          line-height: 25px;
        }
      }

      &::before {
        background-color: #b6bd00;
      }
    }

    &--4 {
      @media (min-width: 1024px) {
        order: 5;

        .category__text {
          font-size: 24px;
          line-height: 25px;
        }
      }

      &::before {
        background-color: #477707;
      }
    }
  }

  &__text {
    position: relative;
    font-size: 24px;
    font-style: italic;
    z-index: 1;

    b {
      font-style: normal;
    }

    @media (min-width: 1024px) {
      font-size: 30px;
      line-height: 38px;
      width: 50%;
    }
  }

  &__image-box {
    position: absolute;
    left: 50%;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
    transform: translateX(-50%);
    z-index: 1;

    @media (min-width: 1024px) {
      width: 200px;
      left: 65%;
    }
  }
}
