.conditions {
  &__title {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #1e1e1e;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: num;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 205px;
    padding: 15px 180px 15px 100px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 35px;
      left: -75px;
      width: 130px;
      height: 130px;
      transform: rotate(45deg);

      @media (min-width: 1024px) {
        top: 30px;
        width: 150px;
        height: 150px;
      }
    }

    &::after {
      content: counter(num);
      counter-increment: num;
      position: absolute;
      top: 0;
      left: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 50px;
      line-height: 210px;
      color: #f2f2f2;
    }

    &--0 {
      &::before {
        background-color: #b6bc00;
      }

      .conditions__counter {
        position: relative;
        top: 20px;
      }

      .conditions__image {
        right: 10px;
        @media (min-width: 1024px) {
          right: 0;
          bottom: 50px;
        }
      }
    }

    &--1 {
      &::before {
        background-color: #d11b59;
      }

      .conditions__image {
        @media (min-width: 1024px) {
          right: -85px;
          bottom: 60px;
        }
      }
    }

    &--2 {
      .conditions__image {
        margin: 0 auto;
        top: auto;
        bottom: 0;
        transform: none;
        @media (min-width: 1024px) {
          
        }
      }

      &::before {
        background-color: #761085;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      width: calc(33% - 10px);
      min-height: 445px;
      padding: 30px;
      padding-bottom: 70px;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    max-width: 170px;

    @media (min-width: 1024px) {
      max-width: calc(100% - 40px);
      top: auto;
      left: 0;
      bottom: 0;
      margin: 0 auto;
      transform: none;
    }
  }

  &__text {
    width: 100%;
    padding-left: 95px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 127.15%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #231F20;

    @media (max-width: 1024px) {
      padding-left: 0;
    }

    a {
      font-weight: 700;
      color: inherit;
      text-decoration: underline;
    }
  }
}
