.conditions {
  &__title {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #1e1e1e;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 205px;
    padding: 15px 50px;
    padding-right: 200px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: -80px;
      width: 150px;
      height: 150px;
      transform: translateY(-50%) rotate(45deg);

      @media (min-width: 1024px) {
        top: 30px;
        left: -75px;
        right: auto;
        transform: rotate(45deg);
      }
    }

    &--0 {
      &::before {
        background-color: #b6bc00;
      }

      .conditions__counter {
        position: relative;
        top: 20px;
      }
    }

    &--1 {
      &::before {
        background-color: #d11b59;
      }
    }

    &--2 {
      .conditions__image {
        margin: 0 auto;
      }

      &::before {
        background-color: #761085;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      width: calc(33% - 10px);
      min-height: 445px;
      padding: 30px;
      padding-bottom: 70px;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    max-width: 170px;

    @media (min-width: 1024px) {
      max-width: 100%;
      top: auto;
      bottom: 0;
      transform: none;
    }
  }

  &__text {
    width: 100%;
    padding-left: 95px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 127.15%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #231F20;

    @media (max-width: 1024px) {
      padding-left: 0;
    }

    a {
      font-weight: 700;
      color: inherit;
      text-decoration: underline;
    }
  }
}
