.conditions {
  padding: 40px 0;

  &__title {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e1e1e;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    min-height: 205px;
    padding: 15px 50px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: -55px;
      width: 110px;
      height: 110px;
      transform: translateY(-50%) rotate(45deg);

      @media (min-width: 1024px) {
        top: auto;
        bottom: 25px;
        transform: rotate(45deg);
      }
    }

    &--0 {
      &::before {
        background-color: #b6bc00;
      }
    }

    &--1 {
      &::before {
        background-color: #d11b59;
      }
    }

    &--2 {
      .conditions__image {
        right: 50%;
        transform: translateX(50%);
      }

      &::before {
        background-color: #761085;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      width: calc(33% - 10px);
      min-height: 387px;
      padding: 50px;
    }
  }

  &__counter {
    margin-bottom: 30px;
    color: #ededed;
    font-family: "Montserrat", sans-serif;
    font-size: 100px;
    line-height: 100px;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 20px;
    max-width: 170px;

    @media (min-width: 1024px) {
      position: static;
    }
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #181818;

    b {
      text-decoration: underline;
    }

    @media (min-width: 1024px) {
      margin-top: auto;
    }
  }
}
