.info {
  &__container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b6bc00;
  }

  &__title {
    padding: 0 25px;
    margin-bottom: 25px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 300;
    font-style: italic;

    b {
      font-style: normal;
    }
  }

  &__image-box {
    min-height: 400px;
    margin-bottom: 25px;

    background-image: url("../img/info.png");
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  &__text {
    padding: 0 25px;
    font-size: 16px;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
  }
}
