.info {
  @media (min-width: 1024px) {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b6bc00;

    @media (min-width: 1024px) {
      max-width: 1200px;
      min-height: 400px;
      margin: 0 auto;
      padding: 50px 70px;

      background-image: url("../img/info.png");
      background-position: right center;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
  }

  &__title {
    padding: 0 25px;
    margin-bottom: 25px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 300;
    font-style: italic;

    b {
      font-style: normal;
    }

    @media (min-width: 1024px) {
      padding: 0;
      width: 50%;
    }
  }

  &__image-box {
    min-height: 400px;
    margin-bottom: 25px;

    background-image: url("../img/info.png");
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__text {
    padding: 0 25px;
    font-size: 16px;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;

    @media (min-width: 1024px) {
      width: 50%;
      padding: 0;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.025em;
    }
  }
}
