.nozzle-card {
    &__image-holder {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 240px;
    }

    &__img {
        display: block;
        margin: 0 auto;

        @media (min-width: 560px) {
            margin: 0;
        }
    }

    &__name {
        margin-top: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;

        @media (min-width: 560px) {
            text-align: left;
        }
    }
}