.promo {
  padding: 40px 0;
  overflow: hidden;

  &__wrapper {
    padding: 0 25px;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: #0f0f0f;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #477707;
    text-transform: uppercase;
  }

  &__middle-box {
    position: relative;
    min-height: 375px;
    margin-bottom: 20px;

    background-image: url("../img/promo-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -55px;
      right: -55px;
      width: 110px;
      height: 110px;
      background-color: #b6bc00;
      transform: rotate(45deg);
    }
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #1e1e1e;
  }

  &__bottom-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 285px;

    background-image: url("../img/promo-bottom.png");
    background-position: left center;
    background-size: auto;
    background-repeat: no-repeat;
  }

  &__bottom-image {
    &--second {
      align-self: flex-start;
    }
  }
}
