.promo {
  padding: 40px 0;
  overflow: hidden;

  @media (min-width: 1024px) {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
  }

  &__wrapper {
    padding: 0 25px;
    margin-bottom: 20px;

    @media (min-width: 1024px) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 0.015em;
    font-weight: 500;
    font-style: italic;
    color: #0f0f0f;

    @media (min-width: 1024px) {
      width: 55%;
      margin-bottom: 0;
      font-size: 38px;
      line-height: 48px;
      letter-spacing: 0.015em;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #477707;
    text-transform: uppercase;

    @media (min-width: 1024px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__middle-box {
    position: relative;
    min-height: 375px;
    margin-bottom: 20px;

    background-image: url("../img/promo-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -55px;
      right: -55px;
      width: 110px;
      height: 110px;
      background-color: #b6bc00;
      transform: rotate(45deg);
    }

    @media (min-width: 1024px) {
      min-height: 535px;
      margin-bottom: 40px;
      background-image: url("../img/promo-desktop.png");
      background-size: 100% auto;

      &::before {
        top: 0;
        right: -125px;
        width: 250px;
        height: 250px;
      }
    }
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 144.15%;
    color: #1e1e1e;
    letter-spacing: 0.01em;
  }

  &__bottom-box {
    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
  }

  &__abstract-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 285px;

    background-image: url("../img/promo-bottom.png");
    background-position: left center;
    background-size: auto;
    background-repeat: no-repeat;

    @media (min-width: 1024px) {
      flex-shrink: 0;
      width: 50%;
    }
  }

  &__bottom-image {
    &--first {
      @media (min-width: 1024px) {
        margin-top: 50px;
      }
    }

    &--second {
      align-self: flex-start;
    }

    &--third {
      @media (min-width: 1024px) {
        position: relative;
        right: 65px;
        margin-top: 85px;
      }
    }
  }
}
