.section-slogan {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;

    @media (min-width: 768px) {
        min-height: 194px;
        padding-left: 140px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 67px 0 67px 60px;
        border-color: transparent transparent transparent $mark-secondary;
        transform: translateY(-50%);

        @media (min-width: 768px) {
            border-width: 97px 0 97px 100px;
        }
    }

    &__title {
        font-size: 30px;
        line-height: 1.3;
        letter-spacing: 0.015em;

        @media (min-width: 768px) {
            font-size: 40px;
        }
    }

    &__text {
        margin-top: 10px;
        font-family: "Montserrat", "Arial", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.04em;
    }
}