.recipes-top { 
    min-height: 500px;
    background-color: #f7f7f7;
    background-image: url("../img/recipes-top-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}