.toward-view {
    font-family: "Montserrat", sans-serif;
    
    &__wrapper {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__image-holder {
        @media (min-width: 768px) {
            width: 45%;
        }
        @media (min-width: 1200px) {
            width: 49%;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;

        @media (min-width: 768px) {
            margin: 0;
        }
    }

    &__info {
        overflow: auto;
        position: relative;
        margin-top: 40px;
        @media (min-width: 768px) {
            width: 49%;
            margin-top: 0;
        }
        @media (min-width: 1200px) {
            width: 50%;
        }
    }

    &__slider {
        margin-top: 50px;
        padding-bottom: 60px;

        @media (min-width: 1200px) {
            margin-top: 60px;
            padding-bottom: 70px;
        }
    }

    &__slide {
        outline: none;
    }

    &__text {
        margin-top: 20px;
        font-size: 18px;
        line-height: 1.3;
    }

    & .slick-dots li, .slick-dots li button {
        height: 15px;
        width: 15px;
    }

    & .slick-dots li button::before {
        box-sizing: border-box;
    }

    & .slick-dots .slick-active {
        transform: scale(1.4);
    }

    &__buttons {
        margin-top: 50px;
        
        @media (min-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__btn {
        width: 100%;
        margin-top: 20px;
        white-space: nowrap;

        @media (min-width: 1200px) {
            margin-top: 0;
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }

    &__characteristics {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transition: opacity .5s ease;

        &--visible {
            height: 80%;
            overflow: visible;
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__characteristics-heading {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        background-color: #e5d3e6;
        border-radius: 30px 30px 0 0;

        @media (min-width: 768px) {
            padding: 20px 40px;
        }
    }

    &__characteristics-title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
    }

    &__characteristics-close {
        padding: 5px;
        line-height: 0;
        border: none;
        background-color: transparent;
    }

    &__characteristics-table {
        display: table;
        padding: 15px;
        font-size: 14px;
        line-height: 17px;
        background-color: #fff;

        @media (min-width: 768px) {
            padding: 20px 40px;
        }
    }

    &__characteristics-row {
        display: table-row;
    }

    &__characteristics-cell {
        display: table-cell;
        padding: 14px 0;
        padding-right: 30px;
        border-bottom: 0.5px solid $divider;

        &--heading {
            font-weight: 600;
            margin-right: auto;
        }
    }
}