.toward-view {
    &__wrapper {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__image-holder {
        @media (min-width: 768px) {
            width: 45%;
        }
        @media (min-width: 1200px) {
            width: 49%;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;

        @media (min-width: 768px) {
            margin: 0;
        }
    }

    &__info {
        margin-top: 30px;
        @media (min-width: 768px) {
            width: 49%;
            margin-top: 0;
        }
        @media (min-width: 1200px) {
            width: 49%;
        }
    }

    &__slider {
        margin-top: 50px;
        padding-bottom: 60px;

        @media (min-width: 1200px) {
            margin-top: 60px;
            padding-bottom: 70px;
        }
    }

    &__text {
        margin-top: 20px;
        font-size: 18px;
        line-height: 1.3;
    }

    & .slick-dots .slick-active {
        transform: scale(1.5);
    }

    &__buttons {
        margin-top: 50px;
        
        @media (min-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__btn {
        width: 100%;
        margin-top: 20px;
        white-space: nowrap;

        @media (min-width: 1200px) {
            margin-top: 0;
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
}