.video-block {
    position: relative;

    &--playing {
        &::before {
            opacity: 0;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-width: 66px 0 66px 90px;
        border-color: transparent transparent transparent #fff;
        transform: translate(-50%,-50%);
        transition: opacity .3s ease;
    }

    &__video {
        width: 100%;
        cursor: pointer;
    }
}